/* tablet */
@media all and (min-width: 768px) {
    body {
        width: 95%;
        margin: auto;
    }
    /* navbar */
    
    nav {
        margin: 0;
    }

    nav .logo a {
        margin-left: 0;
    }
    
    .menu .item:nth-last-child(2),
    .menu .item:nth-last-child(2) a {
        margin-right: 0;
    }
    
    .menu {
        align-items: flex-start;     
        flex-wrap: nowrap;
        background: none;
    }

    .logo {
        order: 0;
        margin-right: auto; 
    }

    .item {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
    }
    
    .toggle {
        display: none;
    }

    /* jumbotron */
.jumbotron {
    background-color: #763626;
    display: grid;
    /* https://css-tricks.com/snippets/css/complete-guide-grid/ */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* .project-img {
    transform: scale(1.1);
    transition-duration: .4s;
    background-image: linear-gradient()
}

.project-img:hover {
    transform: scale(1);
}

.avatar img:active {
    transform: scale(1);
} */

.jumbotron .text-container {
    color: rgb(245, 245, 245);
    /* margin: 20px 0; */
    margin: auto;
    width: 95%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

h1 {
    text-align: center;
}

.container {
    margin: auto;
}

/* projects */
.project-img {
    margin: auto;
}

.project-img img {
    
    width: 100%;
}

.project-text-container {
    padding-top: 40px;
    padding-bottom: 70px;
}

.project-text-container p {
    width: 85%;
}
}

/* desktop */
@media all and (min-width: 1024px) {

body {
    font-size: 1.1em;
    max-width: 1100px;
}

.jumbotron {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    /* grid-template-columns: repeat(2, 1fr); */
}

.project-text-container {
    height: 270px;
}
}