/* blue #0AD3F5
   red #F52C0A 
   white rgb(245, 245, 245)
   black rgb(62, 62, 62) */

   /* mist #90afc5
   shadow #336b7
   stone #2a3132
   autumn foliage #763626 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: rgb(245, 245, 245);
    color: #2a3132;
}

nav {
    /* background: #fff; */
    margin: 0 15px;
}

a {
    color: #2a3132;
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    margin: 7.5px 10px 7.5px 0 ;
}

.item {
    margin: 10px;
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
}

a:hover {
    transform: scale(1.2);
    transition-duration: .2s;
}

.menu li a {
    display: block;
    margin: 15px 5px;
}

.toggle {
    order: 1;
    font-size: 20px;
}

.active .item{
    display: block;
}

.jumbotron {
    background-color: #763626;
}

.jumbotron .text-container {
    color: rgb(245, 245, 245);
}

